{% extends "page.twig" %}

{% block banner %}
	<section class="banner banner--overlap banner--portfolio" style="background-image: url('{{post.thumbnail}}');">
            <div class="js-homepage-swiper homepage-swiper">

                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                        <section class="swiper-slide" style="background-image: url({{post.thumbnail}})">
                        </section>
                        <section class="swiper-slide" style="background-image: url({{post.thumbnail}})">
                        </section>
                        <section class="swiper-slide" style="background-image: url({{post.thumbnail}})">
                        </section>
                        <section class="swiper-slide" style="background-image: url({{post.thumbnail}})">
                        </section>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-container">
                    <div class="swiper-button-prev">&#9664;</div>
                    <div class="swiper-button-next">&#9658;</div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>

	</section>
{% endblock %}

{% block content %}
    <h1 class="portfolio__h1">{{post.title}}</h1>
	{% for post in posts %}
		{% include ['excerpt-'~post.post_type~'.twig', 'excerpt.twig'] %}
	{% endfor %}
{% endblock %}
