{% extends "index.twig" %}

{% block banner %}
	<section class="banner banner--tall" style="background-image: url('{{post.thumbnail}}');">
	    <div class="grid grid--container">
	        <h1 class="banner__header">{{post.title}}</h1>
	    </div>
	</section>
{% endblock %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="meta">
			 <span class="meta__date">{{ post.post_date | date("M d, Y")}}</span>
			 {% for item in post.terms %}
 					<span class="tag">#{{item.title}}</span>
 			{% endfor %}
		</section>
			{{post.content}}
	</article>
	<!-- {% include 'components/comments.twig' %}
{% endblock %}
