{% extends "tease.twig" %}

{% block content %}
	{% if post.thumbnail.src %}
		<img class="excerpt__image" src="{{post.thumbnail.src}}" />
	{% endif %}
		<h2 class="excerpt__header"><a href="{{post.link}}">{{post.title}}</a></h2>
		<h4 class="excerpt__date">{{ post.post_date | date("M d, Y")}}</h4>
		<p class="excerpt__body">{{post.get_preview(50)}}</p>
{% endblock %}
